@model List<OrderInfo>
<section id="hero" class="hero align-items-center" style="height: 10px; min-height: 0;">
</section>
<div class="">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div id="" class="">
                            <div class="page-title">
                                <h2>Order Details</h2>
                            </div>
                        </div>
                        @if (Model.Any())
                        {
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Mã đơn hàng</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Thông tin chi tiết</th>

                                    </tr>
                                </thead>
                                <tbody id="table">
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@order.OrderID</td>
                                            <td class="text-center">@order.ProductID</td>
                                            <td class="text-center"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No order details found.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
