@model DoAnTapHoaCongNghe.Models.Services
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="main-panel" style="height: 100vh;" >
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="margin-top: 30px;">
                    <h4 class="card-title">Tao dich vu</h4>
                    <form class="forms-sample" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label asp-for="services_name">ten</label>
                            <input type="text" class="form-control" asp-for="services_name" placeholder="nhap ten">
                            <span asp-validation-for="services_name" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="services_info">Mo ta</label>
                            <input type="text" class="form-control" asp-for="services_info" placeholder="nhap mo ta">
                            <span asp-validation-for="services_info" class="alert-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image">anh</label>
                            <input type="text" class="form-control" asp-for="image" placeholder="nhap anh">
                            <span asp-validation-for="image" class="alert-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="link">link</label>
                            <input type="text" class="form-control" asp-for="link" placeholder="nhap link">
                            <span asp-validation-for="link" class="alert-danger"></span>
                        </div>
                       
                        <a asp-controller="Services" asp-action="Index" class="btn btn-inverse-secondary btn-fw">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
