@model DoAnTapHoaCongNghe.Models.Services
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main-panel">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sua dich vu</h4>
                    <form class="forms-sample" method="post" asp-action="Edit">
                        <div asp-validation-summary="All"></div>
                        <input type="text" asp-for="services_id" hidden />
                        <div class="form-group">
                            <label asp-for="services_name">Ten</label>
                            <input type="text" class="form-control" asp-for="services_name" placeholder="ten">
                            <span asp-validation-for="services_name" class="alert-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="services_info">chi tiet</label>
                            <input type="text" class="form-control" asp-for="services_info" placeholder="noi nhanh">
                            <span asp-validation-for="services_info" class="alert-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="image">image</label>
                            <input type="text" class="form-control" asp-for="image" placeholder="noi nhanh">
                            <span asp-validation-for="image" class="alert-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="link">link</label>
                            <input type="text" class="form-control" asp-for="link" placeholder="link">
                            <span asp-validation-for="link" class="alert-danger"></span>
                        </div>
                        <a asp-controller="Question" asp-action="Index" class="btn btn-inverse-secondary btn-fw">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
